.cart-view {
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.left {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.window {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 20px;
  font-size: 18px;
}

.cart-view h3 {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
}

.cart {
  display: flex;
  flex-direction: row;
}

.order-image-div {
  width: 150px;
  height: 120px;
  margin: 20px 2px;
}

.cart-view img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.order-description {
  display: flex;
  flex-direction: column;
  margin: 20px 2px;
  width: 80%;
}

.order-description__second-row {
  display: flex;
  flex-direction: row;
}

.order-description__second-row__right {
  margin-left: 200px;
}

.margin-right {
  margin-right: 20px;
}

.cart-view .prettyMinus {
  padding: 2px 6px;
  margin: 2px;
  border: 1px solid lightgrey;
  border-radius: 30px;
  background-color: lightgrey;
}

.cart-view .prettyPlus {
  padding: 2px 6px;
  margin: 2px;
  border: 1px solid lightgrey;
  border-radius: 30px;
  background-color: lightgrey;
}

.prettyMinus:hover {
  background-color: red;
  border-color: red;
  cursor: pointer;
}

.prettyPlus:hover {
  background-color: green;
  border-color: green;
  cursor: pointer;
}

.right-window {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 30%;
  height: 200px;
}

.right-window button {
  width: 200px;
  height: 40px;
  margin: 30px auto;
  border-radius: 4px;
  background-color: lightgreen;
  border-color: lightgreen;
}

.order-total {
  display: flex;
  flex-direction: column;
}

.order-total__price {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.order-total__price__amount {
  font-weight: 700;
  display: inline-block;
}
